{% extends 'new_base.html' %}

{% block content %}
<!--
  <div class="page-header">
    <h1 class="title">Call Down</h1>
  </div>
-->
  {% if meeting_scheduled %}
    <table class="table borderless">
      <tr class="call-down-row">
        <td class="call-down-label text-left">UOD: Cadets</td>
        <td class="call-down-info text-right">{{ next_meeting.uod_cadets }}</td>
      </tr>
      <tr class="call-down-row">
        <td class="call-down-label text-left">UOD: Staff</td>
        <td class="call-down-info text-right">{{ next_meeting.uod_staff }}</td>
      </tr>
      <tr class="call-down-row">
        <td class="call-down-label text-left">UOD: Seniors</td>
        <td class="call-down-info text-right">{{ next_meeting.uod_senior }}</td>
      </tr>
      <tr class="call-down-row">
        <td class="call-down-label text-left">Start Time</td>
        <td class="call-down-info text-right">{{ next_meeting.start.time }}</td>
      </tr>
      <tr class="call-down-row">
        <td class="call-down-label text-left">End Time</td>
        <td class="call-down-info text-right">{{ next_meeting.end.time }}</td>
      </tr>
      <tr class="call-down-row">
        <td class="call-down-label text-left">Activities</td>
        <td class="call-down-info text-right">{{ next_meeting.activities|linebreaksbr }}</td>
      </tr>
    </table>
  {% endif %}

{% endblock %}

