<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
     {% if user.is_authenticated %}
         <h1>{{ first_month_name }}</h1>
        {% for event in first_month_meeting %}
            <p>{{ event.name }}</p></br>
            <p>{{ event.start|date: "j" }} at {{ event.start.time }}</p></br>
            <p>At {{ event.location }}</p>
        {% endfor %}

        <h1>{{ second_month_name }}</h1>
        {% for event in second_month_meeting %}
            <p>{{ event.name }}</p></br>
            <p>{{ event.start.day }} at {{ event.start.time }}}</p></br>
            <p>At {{ event.location }}</p>
        {% endfor %}

        <h1>{{ third_month_name }}</h1>
        {% for event in third_month_meeting %}
            <p>{{ event.name }}</p></br>
            <p>{{ event.start.day }} at {{ event.start.time }}</p></br>
            <p>At {{ event.location }}</p>
        {% endfor %}
     {% else %}
        You're out
     {% endif %}

</body>
</html>