{% extends 'new_base.html' %}

{% block content %}
<!--
  <div class="page-header">
    <h1 class="title">Schedule</h1>
  </div>
-->
  <h2 class="schedule-month">{{ first_month_name }}</h2>
    {% for event in first_month_meeting %}
       <a href="#" class="event">
         <blockquote>
           <p class="event-name">{{ event.title }}</p>
           <small class="event-start">{{ event.start|date:"jS" }} at {{ event.start.time }}</small>
           <small class="event-location">At {{ event.location }}</small>
         </blockquote>
       </a>
    {% endfor %}

  <h2 class="schedule-month">{{ second_month_name }}</h2>
    {% for event in second_month_meeting %}
       <a href="#" class="event">
         <blockquote>
           <p class="event-name">{{ event.title }}</p>
           <small class="event-start">{{ event.start|date:"jS" }} at {{ event.start.time }}</small>
           <small class="event-location">At {{ event.location }}</small>
         </blockquote>
       </a>
    {% endfor %}

  <h2 class="schedule-month">{{ third_month_name }}</h2>
    {% for event in third_month_meeting %}
       <a href="#" class="event">
         <blockquote>
           <p class="event-name">{{ event.title }}</p>
           <small class="event-start">{{ event.start|date:"jS" }} at {{ event.start.time }}</small>
           <small class="event-location">At {{ event.location }}</small>
         </blockquote>
       </a>
    {% endfor %}

{% endblock %}